{% extends 'base.html.twig' %}

{% block title %}Hello ETFunnyController!{% endblock %}

{% block body %}
    <h1>{{ titre }} </h1>

    {% if app.user %}
        {% if app.user.getRoles[0] == "ROLE_ADMIN" %}
            <a href="{{ path('e_t_video_new') }}">Ajouter une vidéo</a>
        {% endif %}
    {% endif %}

    {% for video in videos %}
       {% if video.tag == "meme" %}
        <tr>
            <div>{{ video.Title }}</div>
            <div>Posté le {{ video.createdAt ? video.createdAt|date('d-m-Y H:i') : '' }}</div>
            <div><iframe width="560" height="315" src="{{ video.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <td>
                        <a href="{{ path('e_t_video_show', {'id': video.id}) }}">show</a>
                         {% if app.user %}
                             {% if app.user.getRoles[0] == "ROLE_ADMIN" %}
                        <a href="{{ path('e_t_video_edit', {'id': video.id}) }}">edit</a>
                     {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}

{% endblock %}
