{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ titre }} </h1>

    {% if app.user %}
    {% if app.user.getRoles[0] == "ROLE_ADMIN" %}
        <a href="{{ path('e_t_article_new') }}">Ajouter un article</a>
    {% endif %}
    {% endif %}

    {% for article in articles %}
        <tr>
            <div>{{ article.Title }}</div>
            <div>Posté le {{ article.createdAt ? article.createdAt|date('d-m-Y H:i') : '' }}</div>
            <div><img class="fit-picture"
                     src="{{ article.media }}"
                     alt=""></div>
            <div>{{ article.content }}</div>
            <td>
                {% if app.user %}
                    {% if app.user.getRoles[0] == "ROLE_ADMIN" %}
                        <a href="{{ path('e_t_article_show', {'id': article.id}) }}">show</a>
                        <a href="{{ path('e_t_article_edit', {'id': article.id}) }}">edit</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}

{% endblock %}